*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: rgb(16, 16, 20);
    height: 100dvh;
}

.video-container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 40vh;
}

.video-container video{
    width: 100%;
    height: 100%;
    display: block;
}

#subBox{
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 10%;
    max-width: 80%;
    padding: 5px;
}

.chat{
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    height: 60dvh;
}
.msglist{
    flex: 1;

    border: 1px solid black;
    width: 100%;
    /* height: 250px; */

    overflow-y: auto;
    overflow-x: hidden;
}


.inputmsg{
    background-color: rgba(70, 70, 70, 0.25);
    border: 0;
    padding: 10px;
    color: white;
    width: 60%;
}
.inputmsg:focus{
    position: absolute;
    top: 40%;
    background-color: rgba(70, 70, 70, 1);
}

.sendmsg{
    background-color: limegreen;
}


.async, .master, .sendmsg{
    width: 8%;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
}
.async{
    width: 12%;
    background-color: dodgerblue;
}

.async:hover, .master:hover, .sendmsg:hover{
    opacity: 30%;
}

.msg{
    position: relative;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 20px;
    margin: 5px 0;
}
.mainmsg{
    display: grid;
    align-items: center;
    grid-template-columns: 0.16fr 1fr 0.05fr;
}

.name{
    display: flex;
    transform: translateY(-35px);
    font-size: 14px;
    margin: 3px 5px;
}
.name > p{
    color: green;
}
.time{
    color: rgb(189, 218, 250);
}
.text{
    font-size: 18px;
    margin: 0 5px;
    text-align: justify;
}
.reChat{
    width: 30px;
    height: 25px;
    border-radius: 15px;
    border: 0;
    /* position: absolute; */
    /* left: 1%; */
    background-color: rgba(255, 255, 255, 0.5);
}
.reChat img{
    width: 100%;
    height: 100%;
}
.reChat:hover{
    background-color: rgba(0, 255, 64, 0.637);
}

.reMsg{
    display: none;
    position: absolute;
    top: 80%;
    right: 20%;
}
.reMsg > .text{
    font-size: 14px;
}
.reMsg > .canncel{
    width: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 0;
    border-radius: 10px;
    margin-right: 2px;
    color: white;
    font-size: 16px;
}
.reMsg > .canncel:hover{
    background-color: rgba(0, 140, 255, 0.637);
}

.msgInput{
    display: flex;
    justify-content: center;
}
.msgInput button{
    color: black;
}

.msgReChat{
    display: flex;
    background-color: rgba(223, 49, 49, 0.637);
    /* width: 95%; */
    border-radius: 20px;
}
.msgReChat:hover{
    background-color: rgba(255, 148, 148, 0.637);
}
.fulltext{
    visibility: hidden;
}
.reChatfriend{
    background-color: rgba(255, 0, 76, 0.637);
}
.friendname{
    color: #008060;
}
.friendBg{
    background-color: rgba(255, 0, 76, 0.25);
}


@media (orientation: landscape){
    
    .con{
        flex-direction: row;
        position: relative;
    }

    .video-container{
        position: absolute;
        max-width: 55%;
        left: 0;
        top: 0;
    }
    .chat{
        position: absolute;
        max-width: 55%;
        left: 0;
        top: 40%;
        height: 60dvh;
    }
    .inputmsg:focus{
        position: absolute;
        top: 6%;
    }
    .msg{
        padding: 4px;
    }
    #subBox{
        top: 6%;
        right: -80%;
    }
}
