body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

video {
  width: 80%;
  margin: 20px 0;
}

#chat {
  width: 80%;
  margin: auto;
}

#messages {
  height: 150px;
  overflow-y: auto;
  border: 1px solid #444;
  margin-bottom: 10px;
  padding: 5px;
}
